<div id="<%= id %>" class="hidden text-center bg-white shadow-lg">
    <% for (let i = 0; i < item.length; i++) { %>
        <a href="/<%= menu %>/<%= item[i] %>"
            class="block px-4 py-2 font-semibold hover:bg-blue-600 hover:text-white"><%= item[i] %></a>
    <% } %>
</div>