<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined" rel="stylesheet">
</head>
<header class="sticky top-0 left-0 right-0 z-[1] ">
<nav >
    <div class="relative flex items-center justify-center bg-indigo">
        <!-- Kiri: Logo -->
        <a href="/" class="absolute flex items-center gap-4 left-4">
            <img src="/assets/logo-unram.png" alt="Logo unram" class="w-12 md:w-16">
            <div class="flex flex-col justify-center text-white">
                <h3 class="text-base font-bold text-left md:text-lg ">INDEX KINERJA</h3>
                <h3 class="text-sm text-left md:text-base ">PENELITIAN, PENGABDIAN DAN PUBLIKASI</h3>
                <h3 class="text-sm text-left md:text-base ">Fakultas Teknik, Universitas Mataram</h3>
            </div>
        </a>

        <!-- Kanan: Tombol Login dan Menu -->
        <div class="items-center hidden space-x-8 md:flex ">
            <div class="relative py-8 group">
                <a href="/penelitian" class="relative text-xl font-semibold text-white hover:text-veronica">
                    Penelitian
                    <span
                        class="absolute left-0 w-0 h-1 transition-all bg-veronica -bottom-2 group-hover:w-full"></span>
                </a>
            </div>
            <div class="relative py-8 group">
                <a href="/pengabdian" class="relative text-xl font-semibold text-white hover:text-veronica">
                    Pengabdian
                    <span
                        class="absolute left-0 w-0 h-1 transition-all bg-veronica -bottom-2 group-hover:w-full"></span>
                </a>
            </div>
            <div class="relative py-8 group">
                <a href="/publikasi" class="relative text-xl font-semibold text-white hover:text-veronica">
                    Publikasi
                    <span
                        class="absolute left-0 w-0 h-1 transition-all bg-veronica -bottom-2 group-hover:w-full"></span>
                </a>
            </div>
            <div class="relative py-8 group">
                <div class="relative text-xl font-semibold text-white hover:text-veronica hover:cursor-default">
                    Program Studi
                    <span
                        class="absolute left-0 w-0 h-1 transition-all bg-veronica -bottom-2 group-hover:w-full"></span>
                    <!-- <span class="text-sm rotate-90 material-symbols-outlined">
                        chevron_right
                    </span> -->
                    </div>
                <%- include('dropdown', {
                    menu: "prodi", 
                    item: ['Arsitektur', 'Teknik Elektro', 'Teknik Industri', 'Teknik Informatika', 'Teknik Mesin', 'Teknik Sipil', 'S2 Teknik Sipil', 'S2 Teknologi Informasi'], 
                    group: 'group' 
                }) %>
            </div>
        </div>
        <% if (!isLogin) { %>
        <a href="/login"
            class="absolute self-center px-6 py-2 text-xl font-semibold text-white rounded-lg bg-veronica hover:bg-veronica-600 right-4">Masuk</a>
        <% } else { %>
        <div class="absolute right-4">
            <div class="relative ">
                <button id="settingMenu" class="flex items-center group">
                    <svg width="32" height="32" viewBox="0 0 24 24" class=" group-hover:fill-veronica"
                        xmlns="http://www.w3.org/2000/svg" fill="white">
                        <g clip-path="url(#clip0_16_145)">
                            <path
                                d="M8.68588 4.00001L11.2929 1.39301C11.4804 1.20554 11.7347 1.10022 11.9999 1.10022C12.265 1.10022 12.5194 1.20554 12.7069 1.39301L15.3139 4.00001H18.9999C19.2651 4.00001 19.5195 4.10536 19.707 4.2929C19.8945 4.48044 19.9999 4.73479 19.9999 5.00001V8.68601L22.6069 11.293C22.7944 11.4805 22.8997 11.7348 22.8997 12C22.8997 12.2652 22.7944 12.5195 22.6069 12.707L19.9999 15.314V19C19.9999 19.2652 19.8945 19.5196 19.707 19.7071C19.5195 19.8946 19.2651 20 18.9999 20H15.3139L12.7069 22.607C12.5194 22.7945 12.265 22.8998 11.9999 22.8998C11.7347 22.8998 11.4804 22.7945 11.2929 22.607L8.68588 20H4.99988C4.73467 20 4.48031 19.8946 4.29278 19.7071C4.10524 19.5196 3.99988 19.2652 3.99988 19V15.314L1.39288 12.707C1.20541 12.5195 1.1001 12.2652 1.1001 12C1.1001 11.7348 1.20541 11.4805 1.39288 11.293L3.99988 8.68601V5.00001C3.99988 4.73479 4.10524 4.48044 4.29278 4.2929C4.48031 4.10536 4.73467 4.00001 4.99988 4.00001H8.68588ZM5.99988 6.00001V9.51501L3.51488 12L5.99988 14.485V18H9.51488L11.9999 20.485L14.4849 18H17.9999V14.485L20.4849 12L17.9999 9.51501V6.00001H14.4849L11.9999 3.51501L9.51488 6.00001H5.99988ZM11.9999 16C10.939 16 9.9216 15.5786 9.17146 14.8284C8.42131 14.0783 7.99988 13.0609 7.99988 12C7.99988 10.9391 8.42131 9.92173 9.17146 9.17158C9.9216 8.42143 10.939 8.00001 11.9999 8.00001C13.0608 8.00001 14.0782 8.42143 14.8283 9.17158C15.5785 9.92173 15.9999 10.9391 15.9999 12C15.9999 13.0609 15.5785 14.0783 14.8283 14.8284C14.0782 15.5786 13.0608 16 11.9999 16ZM11.9999 14C12.5303 14 13.039 13.7893 13.4141 13.4142C13.7892 13.0391 13.9999 12.5304 13.9999 12C13.9999 11.4696 13.7892 10.9609 13.4141 10.5858C13.039 10.2107 12.5303 10 11.9999 10C11.4695 10 10.9607 10.2107 10.5857 10.5858C10.2106 10.9609 9.99988 11.4696 9.99988 12C9.99988 12.5304 10.2106 13.0391 10.5857 13.4142C10.9607 13.7893 11.4695 14 11.9999 14Z" />
                        </g>
                        <defs>
                            <clipPath id="clip0_16_145">
                                <rect width="24" height="24" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                    <svg width="32" height="32" viewBox="0 0 24 24" class=" group-hover:fill-veronica"
                        xmlns="http://www.w3.org/2000/svg" fill="white">
                        <g clip-path="url(#clip0_753_4612)">
                            <path
                                d="M12 13.172L16.95 8.22198L18.364 9.63598L12 16L5.63599 9.63598L7.04999 8.22198L12 13.172Z" />
                        </g>
                        <defs>
                            <clipPath id="clip0_753_4612">
                                <rect width="50" height="50" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </button>
                <div class="absolute right-0  mt-11  shadow-[0px_10px_20px_5px] shadow-black/25 rounded-2xl bg-white hidden">
                    <a href="/dashboard/penelitian/pnbp"
                        class="block px-4 py-2 font-semibold text-center hover:bg-veronica hover:text-white rounded-t-2xl ">Dashboard</a>
                    <button id="logoutBtn"
                        class="self-stretch block w-full px-4 py-2 font-semibold text-center hover:bg-veronica hover:text-white rounded-b-2xl">Logout</button>
                </div>
            </div>
        </div>
        <% } %>

        <!-- Tombol Mobile Menu -->
        <div class="flex items-center md:hidden">
            <button id="menuButton" aria-expanded="false" aria-controls="mobileMenu">
                <img src="/assets/menu.svg" alt="Menu">
            </button>
        </div>
    </div>

    <!-- Menu Mobile (Dropdown) -->
    <div id="mobileMenu" class="hidden bg-white shadow-md md:hidden rounded-b-2xl">
        <div class="relative group">
            <div class="flex justify-between px-4 bg-[#EDF0F1]">
                <a href="/penelitian" class="block py-2 font-semibold">Penelitian</a>
                <button onclick="toggleDropdown('penelitianDropdown')">
                    <img src="/assets/arrow-down.svg" alt="" class="ml-12 transition-all ">
                </button>
            </div>
            <%- include('dropdown-menu-mb', {menu: "penelitian" , id: "penelitianDropdown" , item: ['Pusat', 'PNBP'
                , 'Mandiri' ]}) %>
        </div>
        <div class="relative group">
            <div class="flex justify-between px-4 bg-[#EDF0F1]">
                <a href="/pengabdian" class="block py-2 font-semibold">Pengabdian</a>
                <button onclick="toggleDropdown('pengabdianDropdown')">
                    <img src="/assets/arrow-down.svg" alt="" class="ml-12 transition-all">
                </button>
            </div>
            <%- include('dropdown-menu-mb', {menu: "Pengabdian" , id: "pengabdianDropdown" , item: ['Pusat', 'PNBP'
                ]}) %>
        </div>
        <div class="relative group">
            <div class="flex justify-between px-4 bg-[#EDF0F1]">
                <a href="/publikasi" class="block py-2 font-semibold">Publikasi</a>
                <button onclick="toggleDropdown('publikasiDropdown')">
                    <img src="/assets/arrow-down.svg" alt="" class="ml-12 transition-all">
                </button>
            </div>
            <%- include('dropdown-menu-mb', {menu: "publikasi" , id: "publikasiDropdown" , item: ['Buku', 'HAKI'
                , 'Jurnal Pengabdian' ],}) %>
        </div>
        <a href="/login"
            class="block px-4 py-2 font-semibold text-center text-white bg-veronica rounded-b-2xl hover:bg-blue-700">LOGIN</a>
    </div>
</nav>
</header>
<!-- JavaScript untuk Toggle Menu Mobile -->
<script src="script/navbar.js"></script>