<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link href="/style/main.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="favicon.png">
</head>

<body>
    <%- include('partials/navbar') %>
        <div class="my-10 mx-28">
            <h1 class="font-bold text-[40px]">Welcome to My Website</h1>
            <div class="flex gap-6 ">
                <p class=" text-[25px]">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem, a? Modi,
                    ab quisquam laborum nisi explicabo pariatur laboriosam illo omnis eaque quas esse dignissimos sit.
                    Numquam sit quo labore odit! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
                    magnam tenetur, nesciunt, corrupti ab omnis tempore iure ex pariatur dolore eveniet! Dolores fuga
                    voluptatum nulla porro temporibus esse cum. Quaerat? Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Repudiandae, laboriosam. Ex animi voluptate possimus minus recusandae, sapiente
                    commodi laborum ea hic a temporibus nisi! Fugiat inventore odio est provident consequuntur.</p>
                <img class="rounded-[30px] w-[500px] self-center" src="/assets/gedung-teknik.png" alt="">
            </div>
        </div>
</body>

</html>