<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link href="/style/main.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="favicon.png">
</head>

<body class="bg-[#EDF0F1] text-[#232F58]">
    <%- include('partials/navbar') %>
        <div class="my-5 mx-14 md:my-10 md:mx-28">
            <h1 class="font-bold text-[30px] md:text-[40px]">Selamat Datang</h1>
            <div class="flex flex-col gap-6 md:flex-row">
                <p class="text-[20px] md:text-[25px] text-justify md:text-left">Website ini dirancang untuk memberikan
                    informasi terkait kegiatan akademik di Fakultas Teknik Universitas Mataram, khususnya dalam bidang
                    penelitian, pengabdian kepada masyarakat, dan publikasi ilmiah. Melalui website ini, pengguna dapat
                    dengan mudah mengakses data penelitian yang telah dilakukan, program pengabdian yang sedang
                    berlangsung, serta publikasi ilmiah yang diterbitkan oleh dosen di Fakultas Teknik Universitas
                    Mataram.</p>
                <img class="rounded-[30px] w-full md:w-[500px] self-center" src="/assets/gedung-teknik.png" alt="">
            </div>
            <h1 class="font-bold text-[25px] md:text-[35px] text-center my-5">Data Penelitian, Pengabdian, dan
                Publikasi 5 Tahun Terakhir </h1>
            <div class="flex justify-center gap-36 ">
                <div class="w-[30%] flex flex-col border-[#232F58] border-2 rounded-[30px] aspect-square px-10 pb-10 animate-on-scroll slide-left-fade-in">
                    <h1 class="pt-6 text-3xl text-center">Penelitian</h1>
                    <canvas id="penelitianChart" class="w-full h-full "></canvas>
                </div>
                <p class="w-[30%]  text-[25px]  aspect-square content-center animate-on-scroll slide-right-fade-in">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, adipisci quos nobis aperiam animi
                    officia debitis eos fuga commodi quia error harum autem rerum suscipit sint. Voluptate magnam
                    asperiores officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam in ut
                    repellendus? Soluta, fuga? Eligendi sit quidem deleniti eos dolores quo animi optio impedit dolore,
                    dolor sequi perferendis ipsam officiis?
                </p>
            </div>
            <div class="flex justify-center gap-36 ">
                <p class="w-[30%]  text-[25px]  aspect-square content-center animate-on-scroll slide-left-fade-in">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, adipisci quos nobis aperiam animi
                    officia debitis eos fuga commodi quia error harum autem rerum suscipit sint. Voluptate magnam
                    asperiores officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam in ut
                    repellendus? Soluta, fuga? Eligendi sit quidem deleniti eos dolores quo animi optio impedit dolore,
                    dolor sequi perferendis ipsam officiis?
                </p>
                <div
                    class="w-[30%] flex flex-col border-[#232F58] border-2 rounded-[30px] aspect-square px-10 pb-10 animate-on-scroll slide-right-fade-in">
                    <h1 class="pt-6 text-3xl text-center">Pengabdian</h1>
                    <canvas id="pengabdianChart" class="w-full h-full "></canvas>
                </div>
            </div>
            <div class="flex justify-center gap-36 ">
                <div
                    class="w-[30%] flex flex-col border-[#232F58] border-2 rounded-[30px] aspect-square px-10 pb-10 animate-on-scroll slide-left-fade-in">
                    <h1 class="pt-6 text-3xl text-center">Publikasi</h1>
                    <canvas id="publikasiChart" class="w-full h-full "></canvas>
                </div>
                <p class="w-[30%]  text-[25px]  aspect-square content-center animate-on-scroll slide-right-fade-in">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, adipisci quos nobis aperiam animi
                    officia debitis eos fuga commodi quia error harum autem rerum suscipit sint. Voluptate magnam
                    asperiores officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam in ut
                    repellendus? Soluta, fuga? Eligendi sit quidem deleniti eos dolores quo animi optio impedit dolore,
                    dolor sequi perferendis ipsam officiis?
                </p>
            </div>
        </div>
    <script src="/script/index.js"></script>
</body>

</html>