<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link href="/style/main.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="favicon.png">
</head>

<body class="bg-[#EDF0F1] text-[#232F58]">
    <%- include('partials/navbar', {isLogin}) %>
        <div class="my-5 mx-14 md:my-10 md:mx-28">
            <h1 class="font-bold text-[30px] md:text-[40px]">Selamat Datang</h1>
            <div class="flex flex-col gap-6 md:flex-row">
                <p class="text-[20px] md:text-[25px] text-justify md:text-left">Website ini dirancang untuk memberikan
                    informasi terkait kegiatan akademik di Fakultas Teknik Universitas Mataram, khususnya dalam bidang
                    penelitian, pengabdian kepada masyarakat, dan publikasi ilmiah. Melalui website ini, pengguna dapat
                    dengan mudah mengakses data penelitian yang telah dilakukan, program pengabdian yang sedang
                    berlangsung, serta publikasi ilmiah yang diterbitkan oleh dosen di Fakultas Teknik Universitas
                    Mataram.</p>
                <img class="rounded-[30px] w-full md:w-[500px] self-center" src="/assets/gedung-teknik.png" alt="">
            </div>
            <h1 class="font-bold text-[25px] md:text-[35px] text-center my-5">Data Penelitian, Pengabdian, dan
                Publikasi 5 Tahun Terakhir </h1>
            <div class="flex flex-col justify-center gap-6 md:flex-row md:gap-36">
                <div
                    class="w-[30%] flex flex-col border-[#232F58] border-2 rounded-[30px] h-[30%] aspect-square px-5 pb-5 animate-on-scroll slide-left-fade-in">
                    <h1 class="pt-6 text-3xl text-center">Penelitian</h1>
                    <canvas id="penelitianChart" class="h-full bg-red-500 "></canvas>
                </div>
                <p class="w-full md:w-[30%]  text-[16px] md:text-[20px] text-justify md:text-left aspect-square content-center animate-on-scroll slide-right-fade-in">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit cupiditate animi blanditiis
                    iusto? Maxime adipisci voluptatem dicta assumenda modi mollitia itaque! Sunt commodi quas laborum
                    rem dolor exercitationem saepe molestiae!
                </p>
            </div>
            <div class="flex flex-col-reverse justify-center gap-6 md:flex-row md:gap-36">
                <p class="w-[30%] md:text-[20px]  aspect-square content-center animate-on-scroll slide-left-fade-in">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus placeat vitae commodi debitis
                    necessitatibus quasi. Ratione commodi aliquid omnis nostrum quos iusto, veniam repellendus culpa
                    magnam, cupiditate consectetur id rem.
                </p>
                <div
                    class="w-[30%] flex flex-col border-[#232F58] border-2 rounded-[30px] h-[30%] aspect-square px-5 pb-5 animate-on-scroll slide-right-fade-in">
                    <h1 class="pt-6 text-3xl text-center">Pengabdian</h1>
                    <canvas id="pengabdianChart" class="w-full h-full bg-red-500"></canvas>
                </div>
            </div>
            <div class="flex flex-col justify-center gap-6 md:flex-row md:gap-36">
                <div
                    class="w-[30%] flex flex-col border-[#232F58] border-2 rounded-[30px] h-[30%] aspect-square px-5 pb-5 animate-on-scroll slide-left-fade-in">
                    <h1 class="pt-6 text-3xl text-center">Publikasi</h1>
                    <canvas id="publikasiChart" class="w-full h-full bg-red-500"></canvas>
                </div>
                <p class="w-[30%]  md:text-[20px]  aspect-square content-center animate-on-scroll slide-right-fade-in">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat veritatis architecto suscipit
                    aspernatur accusamus nostrum cum sequi tempora, soluta similique placeat assumenda ratione
                    reiciendis minima id! Accusamus voluptas aut omnis.
                </p>
            </div>
        </div>
        <script src="/script/index.js"></script>
</body>

</html>