<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link href="/style/main.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="favicon.png">
</head>

<body class="bg-[#EDF0F1] text-[#232F58]">
    <%- include('partials/navbar') %>
        <div class="my-5 mx-14 md:my-10 md:mx-28">
            <h1 class="font-bold text-[30px] md:text-[40px]">Selamat Datang</h1>
            <div class="flex flex-col gap-6 md:flex-row">
                <p class="text-[20px] md:text-[25px] text-justify md:text-left">Website ini dirancang untuk memberikan
                    informasi terkait kegiatan akademik di Fakultas Teknik Universitas Mataram, khususnya dalam bidang
                    penelitian, pengabdian kepada masyarakat, dan publikasi ilmiah. Melalui website ini, pengguna dapat
                    dengan mudah mengakses data penelitian yang telah dilakukan, program pengabdian yang sedang
                    berlangsung, serta publikasi ilmiah yang diterbitkan oleh dosen di Fakultas Teknik Universitas
                    Mataram.</p>
                <img class="rounded-[30px] w-full md:w-[500px] self-center" src="/assets/gedung-teknik.png" alt="">
            </div>
            <h1 class="font-bold text-[25px] md:text-[35px] text-center my-5">Data Penelitian, Pengabdian, dan
                Publikasi 5 Tahun Terakhir </h1>
            <div class="flex justify-between gap-32">
                <div class="w-2/5 bg-gray-500 rounded-[30px] aspect-square">
                    <canvas id="penelitianChart"></canvas>
                </div>
                <p class="w-2/5 bg-green-200 text-[25px]  aspect-square content-center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, adipisci quos nobis aperiam animi
                    officia debitis eos fuga commodi quia error harum autem rerum suscipit sint. Voluptate magnam
                    asperiores officia.
                </p>
            </div>
            <!-- <div class="flex justify-between gap-20">
                <div class="w-1/2 bg-gray-500 aspect-square">
                    
                </div>
                <p>asdasdasdasdasd</p>
            </div> -->
        </div>

        <script src="/script/index.js"></script>
</body>

</html>