<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/style/main.css" rel="stylesheet">
</head>

<body class="flex h-screen bg-indigo ">
    <div class="relative w-full max-w-xs p-5 m-auto bg-white rounded">
        <a href="/" class="absolute rounded-full top-5 left-2">
            <img class="rotate-90 " src="/assets/arrow-down.svg" alt="">
        </a>
        <header>
            <img class="w-20 mx-auto mb-5" src="/assets/logo-unram.png" />
        </header>
        <form action="/login" method="POST">
            <div>
                <label class="block mb-2 text-indigo" for="username">Username</label>
                <input
                    class="w-full p-2 mb-6 border-b-2 outline-none text-indigo border-indigo focus:bg-gray-300"
                    type="text" name="username">
            </div>
            <div>
                <label class="block mb-2 text-indigo" for="password">Password</label>
                <input
                    class="w-full p-2 mb-6 border-b-2 outline-none text-indigo border-indigo focus:bg-gray-300"
                    type="password" name="password">
            </div>
            <div>
                <input class="w-full px-4 py-2 mb-6 font-bold text-white rounded bg-indigo hover:bg-veronica hover:cursor-pointer"
                    type="submit">
            </div>
        </form>
        <footer class="">
            <a class="float-right text-sm text-indigo hover:text-veronica" href="#">Forgot Password?</a>
        </footer>
    </div>
</body>

</html>